:root {
     --green: #2bb24c;
     --orange: #F5B120;
}

* {
     /* font-family: "Fredoka One", cursive;*/
     font-family: "Ubuntu", sans-serif;
     font-size: 16px;
     line-height: 1.5;
     /* color: #545454; */
     padding: 0px;
     margin: 0px;
     box-sizing: border-box;
}

.home {

     /* background-color: #2bb24c !important; */
     /* background-image: url("assets/image/background.jpg"); */
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}

.content {
     height: inherit;
     /* display: flex;
     align-items: center;
     /* justify-content: center; */
     /* flex-direction: column; */
     position: relative;
}

nav {
    
     z-index: 999;
     align-items: center;
     justify-content: space-between;
     width: 100%;
     background-color: #fff;
     color: black;
     font-weight: 900;

     text-transform: uppercase;
     box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}
.navbar{
     position: fixed;
}

nav img {

     width: 5rem
}

nav ul {
     list-style-type: none;

     display: flex;
     justify-content: space-between;
     align-items: center;
}

nav ul>* {
     margin-left: 1rem;
     border-radius: 8px;
     transition: 0.3s;
     letter-spacing: 1px;
     padding: 5px 1rem;
     font-size: 12px;
}

nav ul li a {

     color: black;
     text-decoration: none;
     border-radius: 8px;
     transition: 0.3s;
     font-size: 12px;
     letter-spacing: 1px;
}

nav ul li:hover>a {
     color: #fff
}
nav ul li a.nav-link {
    font-size: 12px;
}
nav ul li a.nav-link:hover {
     color: #fff
}
nav ul>*:hover {
     background-color: var(--orange);
     cursor: pointer;
     color: #fff;
}

nav ul li:last-child {
     background-color: var(--orange);
     cursor: pointer;
     color: #fff;
}

.openPath {
     background-color: var(--orange);
     color: #fff;
}

.openPath a {
     background-color: var(--orange);
     color: #fff;
}

.main {
     position: relative;
     background-image: url(../assets/image/home/bg.webp);
     background-position: center;
     background-size: cover;
}

@media screen and (max-width: 992px) {
     .main {
          height: 90vh;
          display: flex;
          justify-content: center;
          align-items: center;
     }
     nav ul>* {
          margin: 1rem;
     }
}





.header {
     text-align: center;
     position: relative;
     top: 20%;
}

h1 {
     font-family: 'Fredoka', cursive;
     font-weight: bolder;
     color: #fff;

}

.main-p {
     color: #222222;
     font-size: 18px;
     font-weight: 900;
}

#getStarted {
     background-color: #fff;
     border: #fff solid 1px;
     border-radius: 6rem;
     padding: 1rem 2rem;
     margin-top: 2rem;
     font-family: 'Fredoka', cursive;
     text-transform: uppercase;
     font-weight: 800;
     letter-spacing: 2px;
     box-shadow: 5px 5px 0px 0px rgb(15, 93, 145);
     cursor: pointer;
     transition: 0.3s;
     
}

#getStarted:hover {
     position: relative;
     top: 2px;
     left: 2px;
     color: rgb(15, 93, 145);
     transition: 0.5s;
}

.stars img {
     position: relative;
     animation: pillAnimation 3s infinite alternate;
     transform-origin: center center
}

.slider-container {
     display: flex;
     align-items: center;
     justify-content: space-evenly;
     margin: 0rem 2rem;
}

.slider-container button {


     background-color: #ffffff;
     color: rgb(0, 0, 0);
     border: none;
     padding: 5px;
     font-size: 16px;
     font-weight: 900;
     height: 50px;
     width: 50px;
     box-shadow: 0 2px 4px rgba(28, 29, 29, 0.521);
     cursor: pointer;
     transition: all 0.2s ease;
     border-radius: 200%;

}

button:hover {
     background-color: #65b9e6;
}

.slider {
     padding: 2rem 0 0 0;
     display: flex;
     position: relative;
     align-items: flex-start;
     justify-content: center;
     flex-direction: row;
     flex-wrap: nowrap;
     overflow-x: hidden;
}

.icon-card {
     display: flex;
     align-items: center;
     justify-content: start;
     flex-direction: column;
     padding: 1rem;
     /* animation: pillAnimation 1s ease-in-out ; */
}

.icon-card img {
     display: block;
     height: 150px;
}

.icon-card span {
     font-weight: 600;
     font-size: 0.8rem;
     max-width: 14ch;
     text-align: center;
     margin: 1rem;
}

@keyframes pillAnimation {
     0% {
          opacity: 0.8;
          transform: translateX(0);
     }

     /* 50% {
          transform: translateX(-10px);
     } */
     100% {
          opacity: 1;

          transform: translateX(-100px);
     }
}


/* @import url('https://fonts.googleapis.com/css?family=Montserrat');

.out{
    
} */
.testimonial-container {
     background-color: #f5b120 !important;
     color: #fff;
     border-radius: 15px;
     margin: 20px auto;
     padding: 2rem;
     max-width: 900px;
     position: relative;


}

.team-header {
     margin-bottom: 2rem;
     text-align: center;
}

.team-header p {
     margin-bottom: 2rem;
     font-size: 2rem;
     font-weight: 700;

     font-family: 'Fredoka', cursive;


}

.testimonial {
     line-height: 28px;
     text-align: justify;
     padding: 1rem 0;
     height: 80%;
     font-size: 1rem;
     font-weight: 600;

}

.user {
     display: flex;
     align-items: center;
     justify-content: center;
     margin-top: auto;
}

.user .user-image {
     border-radius: 50%;
     height: 75px;
     width: 75px;
     object-fit: cover;
}

.user .user-details {
     margin-left: 10px;
}

.user .username {
     margin: 0;
}

.user .role {
     font-weight: normal;
     
}

.progress-bar {
     background-color: #fff;
     height: 4px;
     width: 100%;
     animation: grow 4s linear infinite;
     transform-origin: left;
}

@keyframes grow {
     0% {
          transform: scaleX(0);
     }

     100% {
          transform: scaleX(1);
     }
}

@media (max-width: 768px) {
     .testimonial-container {
          padding: 20px 30px;
     }

     .fa-quote {
          display: none;
     }
}

/* start team section==================================== */
.team {
     margin-top: 50px;
     padding-top: 30px;
     background-color: #f8f8f8;
}



.team .container h2 {
     text-transform: uppercase;
     font-size: 38px;
     letter-spacing: .2em;
     font-weight: lighter;
     font-weight: 100;
}

.team .row {
     display: flex;
     flex-direction: row;
     justify-content: center;
     margin: 1rem auto;
     align-items: center;
     column-gap: 1rem;
}

.team .row .person {
     display: flex;

     justify-content: center;

     flex-direction: column;
     align-items: center;
     text-align: center;
}

.team .row .person h5 {
     font-family: 'Open Sans', sans-serif;
     font-weight: 700;
     text-transform: uppercase;
     color: #c6c5c5;
     margin: 0;




}

.team .row .person h3 {
     text-align: center;
     margin: 5px 0;
     text-transform: uppercase;
     letter-spacing: .05em;
     font-weight: 1;
     font-size: 22px;
     font-stretch: narrower;

}

.team .row .person p {

     font-family: 'Open Sans', sans-serif;
     font-weight: 200;
     margin: 10px 0 0 0;
     letter-spacing: .03em;
}


.panels {
     display: flex;
     justify-content: center;

}


.panels .static-ads {
     background-image: url("../assets/image/home/kids/info-block-1.jpg");
     height: 300px;

     border-radius: 10px;

}

.panels .dynamic-ads {
     display: flex;
     background-image: url("../assets/image/home/kids/1-2.webp");
     background-size: cover;
     height: 300px;
     border-radius: 10px;
     overflow: hidden;


}

.panels .dynamic-ads .btns {
     display: flex;
     flex-direction: column;
}



.panels .dynamic-ads .btns button {
     height: calc(100% / 4);
     border: none;
     width: 3rem;
     background-color: var(--orange);
     color: #fff;
     font-weight: 900;
     font-size: 2rem;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 'Times New Roman', serif;
     transition: 0.4s;
     cursor: pointer;
}


.panels .dynamic-ads .btns button:hover {
     background-color: #EA624C
}

.panels .dynamic-ads .btns button.open-ads-btn {
     background-color: #EA624C;
     transform: scaleX(1.2);
     transform-origin: top left;
}

/* start contact=================================== */

/* header and title and container */
.contact-container .header .title h2 {
     font-family: 'Fredoka', cursive;
     font-weight: 600;
     color: #fff;
     font-size: 4rem;
     padding: 1rem;
     text-align: center;
     text-transform: uppercase;
     font-weight: lighter;


}

.contact-container .title-paragraph {
     text-align: center;
     width: 70%;
}

.contact-container {

     display: flex;
     flex-direction: column;
     justify-content: center;
     margin: 2rem;
     align-items: center;

}

.contact {
     background-color: #2bb24c !important;
     color: #fff;
}



.contact .rows .row-left h3 {
     text-transform: uppercase;
     padding: 1rem 0;
     font-size: 24px;
     font-family: "Ubuntu", sans-serif;
}

.contact .rows .row-left p {
     text-transform: capitalize;
     font-size: 16px;
     margin-right: 2rem;
     font-family: "Ubuntu", sans-serif;


}

.contact .rows .row-left .mail {
     display: flex;
     margin: 2rem 0;
}

.contact .rows .row-left .mail div {
     padding: 5px 20px;
}

.contact .rows .row-left .phone {
     display: flex;
     margin: 2rem 0;
}

.contact .rows .row-left .phone div {
     padding: 2px 20px;
}

.contact .rows .row-left i {
     color: var(--orange);
     padding-top: 1rem;
     font-size: 32px;
}

.contact .rows .row-left .social-media i {
     color: #fff;
     margin-right: 10px;
}

.contact .rows .row-left label {
     text-transform: uppercase;
     font-size: 20px;
     padding-top: 20px;
}

.contact .rows .row-right .input-group {
     display: flex;
     gap: 1rem;
}

.contact .rows .row-right input {
     width: 100%;
     margin: 1rem 0;
     background-color: #fff;
     border: 2px solid transparent;
     font-size: 1rem;
     padding: 0.8rem 1rem;
     border-radius: 25px;
     outline: 0;


     font-weight: 600;
}

.contact .rows .row-right input:focus {
     color: var(--orange);

}

.contact .rows .row-right textarea:focus {
     color: var(--orange);

}

.contact .rows .row-right textarea {
     width: 100%;
     background-color: #fff;
     border: 2px solid transparent;
     font-size: 1rem;
     padding: 1rem;
     border-radius: 25px;
     outline: 0;
     caret-color: #fff;
     margin: 1rem 0;

}

.contact .rows .row-right button {
     width: 100%;
     margin: 1rem 0;
     background-color: var(--orange);
     font-size: 1rem;
     padding: 0.8rem 1rem;
     border-radius: 25px;
     cursor: pointer;
     text-transform: uppercase;
     font-weight: 600;
     border: 0px;
     color: #fff;
}


/* end contact page */
footer {
     padding: 5rem;
     padding-bottom: 0px;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #EA624C;
     flex-direction: column;
     color: #fff;
}

footer>* {
     margin-bottom: 1rem;
}

footer p {
     font-size: 1 rem;
     font-weight: 500;
}

footer .icons {
     overflow: hidden;
}

footer .icons img {
     position: relative;
     width: 80px;
     transform: translateY(-50%);
     transition: 0.3s;
     margin-left: 1rem;
}

footer .icons img:hover {

     filter: grayscale();
     cursor: pointer;
}