* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
     background-image: url("../assets/image/lettersPage/backgrounds/1.jpg");
     background-position: center;
     
}
.play-icon {
  font-size: 24px;
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 20px;
  width: 50px;
  background-image: url("../assets/image/audio-speaker-1.png");
  height: 50px;
  background-size: cover;
  cursor: pointer;
}
.play-icon:hover {
  opacity: 0.8;
}
.pause-icon {
  font-size: 24px;
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 20px;
  width: 50px;
  background-image: url("../assets/image/audio-2.png");
  height: 50px;
  background-size: cover;
  cursor: pointer;
}
.pause-icon:hover {
  opacity: 0.8;
}

.data-container ,.drag-container ,.mcq-container{
    min-height: 80vh;
     display: flex;
     align-items: center;
     justify-content: space-around;

}
.drag-container{
  align-items: start;
}
.mcq-container{
  flex-direction: column;
  
  justify-content: space-around;
}
.left {
     margin-top: 3rem;

}
.left img {
     width: 250px;
     cursor: pointer;
}
.left p {
 color: #111;
 font-weight: 600;
 margin-top: 4rem;
}

.right img {
     width: 250px;
     /* transform: translateY(-20%); */
}

.btns {
  display: flex;
  justify-content:space-around;
}
.d-none{
     display: none;
}
.btns button {
padding: 1rem;
background-color: #145af09d;
border: #f0bd14c0 solid 2px;
border-radius: 1rem;
cursor: pointer;
transition: 0.3s;
font-weight: 600;
}
.btns button:hover {
 
  background-color: #f0bd14c0;
  border:  #145af09d solid 2px;
  border-radius: 1rem;
  }
  



.score {
  font-family: monospace;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.25rem;
  margin: 1rem;
  position: relative;
  transition: opacity 0.2s;
}
#play-again-btn {
  position: absolute;
  top: -0.5rem;
  left: 50%;
  margin-left: -50px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #111;
	border: 5px double #fff; 
	border-radius: 14px;
	padding: 8px 10px;  
  outline: none;
  letter-spacing: .05em;
  cursor: pointer;
  display: none;
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s, background-color 0.2s;
}
#play-again-btn:hover {
  background-color: #333;
}
#play-again-btn:active {
  background-color: #555;
}
#play-again-btn.play-again-btn-entrance {
  opacity: 1;
  transform: translateX(6rem);
}
.draggable-items {
  display: flex;
  justify-content: center;
  margin: 1rem 1rem 1.5rem 1rem;
  transition: opacity 0.5s;
}
.draggable {
     height: 6rem;
     width: 6rem;
     align-items: center;
     justify-content: center;
     font-size: 3rem;
     font-weight: bold;
     margin: 0rem 0.5rem;
     padding: 1rem;
     cursor: pointer;
     transition: opacity 0.2s;
     background-color: #ca0cf0;
     color: #fff;
}
.draggable:hover {
  opacity: 0.5;
}
.matching-pairs {
  transition: opacity 0.5s;
  display: flex;
}
.matching-pair {
  height: 6.3rem;
  margin: 1rem ;
  display: flex;

}
.matching-pair span {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.label {
  width: 15rem;
  font-size: 2rem;
}
.droppable {
  width: 6rem;
  font-size: 4rem;
  background-color: #fff;
  border: 3px dashed #111;
  transition: 0.2s;
 
}
.droppable-hover {
  background-color: #bee3f0;
  transform: scale(1.1);
}
.dropped {
  border-style: solid;

  
  
}

.draggable.dragged:hover {
  opacity: 0.1;
}

@media (max-width: 600px) {
  
  #play-again-btn { top: -0.4rem; }
  #play-again-btn.play-again-btn-entrance { transform: translateX(7rem); }
}

.options-container , .animalImg{
  display: flex;
  justify-content: center;
}

.animalImg img {
 height: 250px;
}
.options-container{
  display: flex;
  width: 100%;
  justify-content:space-around;
  margin-top: 4rem;
}
.options-container p {
  border-radius: 15px;
  padding: 20px;
  background-color:#ca0cf0;
  text-align: center;
  color: white;
  font-size: larger;
  transition: 0.5s;
}
.options-container p:hover{
  cursor: pointer;
  background-color: rgb(80, 251, 80);

}